html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.buttonstuff {
    text-decoration: none;
    color: #212121;
}

.button-80 {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-80:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button-80:focus {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .button-80:not(:disabled):active {
    transform: translateY(.125rem);
  }
#randomButton{
    border-radius: 10px;
    position: relative;
    margin:0 auto;
    display: block;
    width:20rem;
    height:4rem;
    top:50%;
}
@media screen and (max-width:767px) {
    #randomButton {text-align: center; font-size:medium}
}
.centeredButton{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color:white;

}

.background
{
    position:fixed;
    opacity: 0.60;
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
}
/*************   Menu Bar   ************/
.navLinks li a {
    font-family: "Poppins";
    font-weight: 500;
    font-size:1rem;
    color:#ecf0f1;
    text-decoration: none;
    padding:2rem;
    text-align: center;
}

.navLinks li {
    display: inline-block;
}
@media screen and (max-width:768px) {
    .navLinks li a {padding:0.5rem}    
}
header 
{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #24252A;
    list-style: none;
    width:100%;
    position:fixed;
    z-index: 90000000;
}


/************** Hidden Recipes ****************/

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.foodLink {
    display:flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    top:60px;
    position: relative;
}
@media screen and (max-width:768px){
    .foodLink {max-width: 100%; left:0%}
}

.food:nth-child(2){
    transition-delay:200ms;
}
.food:nth-child(3){
    transition-delay: 200ms;
}
.food:nth-child(4){
    transition-delay: 200ms;
}
.food {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 1rem 0.5rem;
    width:9.35rem;
    height:200px;
    overflow: hidden;
    font-family: 'Poppins';
}
@media screen and (max-width:768px) {
    .food {width:8rem;height:200px;border-radius:20px}    
}



.food h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size:small;
    text-align: center;
}

.food a {
    text-decoration: none;
    color:#000;
}
.food a:visited
{
    text-decoration: none;
    color:#000;
}

/*********************** Web Pages ***********************/


.recipes{

    width:49%;
    margin-top:40px;
    margin-left: 25%;
    margin-bottom: 40px;
    background-color: #fff;
    position:relative;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height:max-content;
    overflow: hidden;
}
@media screen and (max-width:768px){
    .recipes {width:100%; margin-left:0%; margin-top:40px}
}
.mainTitle{
    font-family: "Poppins";
    font-weight:bolder;
    margin-bottom: 10px;
    text-align: center;
    font-size:xx-large;
    padding-top: 20px;
}
.secondaryTitles{
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 10px;
    margin-left:20px;
    font-size: large;
    margin-top:10px;
    
}
.ingredientList li {
    list-style: none;
    font-family: 'Poppins';
    font-size: small;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    margin-left:20px;
    margin-right:20px;
    list-style: none;
    font-family: 'Poppins';
    font-size: small;
    font-weight:bold;
}
.line {
    margin-left:20px;
    width: 550px;
    height:5px;
    border-bottom: 1px solid rgb(51, 51, 51);
    position: absolute;
    }
.ingredientList li a {
    text-decoration: none;
    color:#000;
}
.ingredientList li a:visited {
    text-decoration: none;
    color:#000;
}