html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background
{
    position:fixed;
    opacity: 0.60;
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
}

.navLinks li a {
    font-family: "Poppins";
    font-weight: 500;
    font-size:1rem;
    color:#ecf0f1;
    text-decoration: none;
    padding:2rem;
}
@media screen and (max-width:400px){
    .navLinks li a {padding: 1rem; }
    
}
.navLinks li {
    display: inline-block;
}
header 
{
    display: flex;
    justify-content: space-between;

    left:0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #24252A;
    list-style: none;
    width:100%;
}
/*
@media screen and (max-width:400px) {
    .background {height:100%; overflow: hidden}
}
*/
/******************Menu Bar ******************/
.navigation
{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    border: 1px rgba(0,0,0,0.1);
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0s;
    overflow: hidden;
    border-radius: 10px;
}
@media screen and (max-width:400px){
    .navigation{margin-bottom:10%
                }
}
.navigation.active
{
    width: 180px;
    height: 300px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0s;

}
.navigation .menuToggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.navigation .menuToggle::before
{
    content: '';
    position:absolute;
    width: 34px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}
.navigation .menuToggle::after
{
    content: '';
    position:absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}
.navigation.active .menuToggle::before
{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}
.navigation.active .menuToggle::after
{
    transform: translateY(0px) rotate(-45deg);
}
.menu
{
    position:absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-family: "Poppins";
    font-weight: bolder;
    z-index: 900000000;
}
.menu li
{
    list-style: none;
}
.menu li a
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1em;
    gap: 10 px;
    text-decoration: none;
    color: #555;
}
.menu li a:hover
{
    color: #4e65ff;
}

/************** Hidden Recipes ****************/

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.foodLink {
    display:flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    top:60px;
    position: relative;
}
@media screen and (max-width:400px){
    .foodLink {max-width: 100%; left:0%}
}

.food:nth-child(2){
    transition-delay:200ms;
}
.food:nth-child(3){
    transition-delay: 200ms;
}
.food:nth-child(4){
    transition-delay: 200ms;
}
.food {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 1rem 0.5rem;
    width:9.35rem;
    height:9.35rem;
    overflow: hidden;
    font-family: 'Poppins';
    transition-delay: 200ms;
}
@media screen and (max-width:400px) {
    .food {width:8rem;height:8rem}    
}
.food:hover{
    border-radius: 20px;
    height:200px;
    transition-duration: 400ms;
}
.food h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size:small;
    text-align: center;
}

.food a {
    text-decoration: none;
    color:#000;
}
.food a:visited
{
    text-decoration: none;
    color:#000;
}

/*********************** Web Pages ***********************/


.recipes{

    width:49%;
    margin-top:40px;
    margin-left: 25%;
    margin-bottom: 40px;
    background-color: #fff;
    position:relative;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height:max-content;
    overflow: hidden;
}
@media screen and (max-width:400px){
    .recipes {width:100%; margin-left:0%; margin-top:40px}
}
.mainTitle{
    font-family: "Poppins";
    font-weight:bolder;
    margin-bottom: 10px;
    text-align: center;
    font-size:xx-large;
    padding-top: 20px;
}
.secondaryTitles{
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 10px;
    margin-left:20px;
    font-size: large;
    margin-top:10px;
    
}
.ingredientList li {
    list-style: none;
    font-family: 'Poppins';
    font-size: small;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    margin-left:20px;
    margin-right:20px;
    list-style: none;
    font-family: 'Poppins';
    font-size: small;
    font-weight:bold;
}
.line {
    margin-left:20px;
    width: 550px;
    height:5px;
    border-bottom: 1px solid rgb(51, 51, 51);
    position: absolute;
    }
.ingredientList li a {
    text-decoration: none;
    color:#000;
}
.ingredientList li a:visited {
    text-decoration: none;
    color:#000;
}